#root {
  width: 80%;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  max-width: 100vw;
  overflow-x: hidden;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  width: 100vw;
  height: 100vh;
  z-index: 99;
  position: absolute;
}

#myName {
  background: linear-gradient(135deg, #be9e45, #d8c691) !important;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.background {
  width: 100vw;
  height: 100vh;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -9999;
}

.navbar {
  background-color: #450170;
}

#bannerContainer {
  width: 100vw;
  height: 100%;
}

#bannerBG {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 10px;
}

#bannerTopText {
  color: #fff;
}
#bannerSubtext {
  color: #d8c691 !important;
}

#aboutMeBG {
  background: linear-gradient(45deg, rgba(38, 1, 61, 0.5), #6401a3);
}

#me {
  border-radius: 100000px;
  background: #cbb26b;
}

#skillsList {
  border-radius: 4px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 3px;
  background: linear-gradient(135deg, #be9e45, #d8c691) !important;
}

#boutmeText {
  color: #d8c691 !important;
  border-bottom: 2px solid #d8c69131 !important;
}
#boutmeDiv {
  margin-bottom: 60px;
}

#projectText {
  color: #ffffff;
  background-color: #00000062;
  border-radius: 5px;
}

#card {
  background: #450170;
}

#contactBG {
  background: linear-gradient(45deg, #be9e4570, #d8c691);
}

#contactText {
  color: #450170;
}
